* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	font-family: sans-serif;
	justify-content: center;
	color: #545454;
}

.container {
	background-color: #14bdac;

	border-radius: 25px;
	margin: 50px;
	padding: 50px;
}

.title {
	text-align: center;
}

.title span {
	color: #f2ebd3;
}

.status-action {
	display: flex;
	margin-top: 25px;
	font-size: 25px;
	justify-content: space-around;
}

.reset {
	cursor: pointer;
}

.reset:hover {
	color: #f2ebd3;
}

.game-grid {
	background-color: #0da192;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 15px;
	margin-top: 50px;
}

.game-cell {
	background-color: #14bdac;
	cursor: pointer;
	height: 200px;
	width: 200px;
}

.x::after {
	font-size: 200px;
}

.o::after {
	font-size: 225px;
}
